In [ ]:
%pip install names
%pip install pandas

In [17]:
import names
import pandas as pd

df = pd.read_csv('inmates.csv')

In [43]:
df.sample(5)

,DOWNLOAD DATE,IDENTIFIER,LATEST ADMISSION DATE,RACE,GENDER,AGE,BOND AMOUNT,OFFENSE,FACILITY,DETAINER
1954265,04/15/2018,ZZSRRBHR,10/10/2017,BLACK,M,17,250000,"ASSAULT, FIRST DEGREE BF",MANSON YI,NONE
4187242,02/22/2020,ZZEWZBJZ,01/09/2020,WHITE,M,51,3700,VIOLATION OF PROBATION OR COND DISCHG,HARTFORD CC,NONE
4479537,06/07/2020,ZZHZHWLH,11/02/2019,WHITE,M,38,106650,CRIM VIOL ST CRIM RESTR ORDER DF,HARTFORD CC,NONE
4772807,09/22/2020,ZZSHSSHH,03/16/2020,HISPANIC,M,23,50000,"ARSON, FIRST DEGREE AF",BRIDGEPORT CC,T
5401037,04/18/2021,ZZSHWBSC,12/18/2020,HISPANIC,M,27,250500,"ASSAULT, FIRST DEGREE BF",GARNER,NONE

In [52]:

length = len(df.index)
dfs = df.sample(100000)
length = len(dfs.index)
#get index where gender is F
dfs['FIRST_NAME'] = [names.get_first_name(gender= 'male' if dfs.iloc[i]['GENDER'] == 'M' else 'female' ).upper() for i in range(length)]
dfs['LAST_NAME'] = [names.get_last_name().upper() for i in range(length)]


dfs.sample(10)

dfs.to_csv('inmates_enriched.csv', index=False)