In [1]:
%pip install sqlalchemy
%pip install pymysql
%pip install cryptography
%pip install mysql-connector-python

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/site-packages (2.0.7)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/site-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/site-packages (from sqlalchemy) (2.0.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymysql in /usr/local/lib/python3.10/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: cryptography in /usr/local/lib/python3.10/site-packages (42.0.3)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/site-packages (from cryptography) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/site-packages (from cffi>=1.12->cryptography) (2.21)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

# Exhaustive Performance

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
  host="ubuntu.sesar.int",
  user="root",
  password="r00t",
  port="3309",
    database="pippo"
)
MAX_NUMBER_OF_NODES = 7
MAX_NUMBER_OF_SERVICES = 7
mycursor = mydb.cursor()

# TABLE = f"newmetric_n{MAX_NUMBER_OF_NODES}_s{MAX_NUMBER_OF_SERVICES}_50_89"
TABLE = "diff_qual_n7_s7_50_80"
FOLDER = "data"

# Window Time Performance

In [2]:


mycursor = mydb.cursor()
#result_dict = {}
for n in range(2,8):

    mycursor.execute(f"""SELECT window_size,number_of_services, number_of_nodes, avg(execution_time) as execution
            FROM  {TABLE}
            WHERE number_of_nodes =  {n}
            GROUP BY number_of_nodes, number_of_services,window_size
            ORDER BY window_size

        """)


    result_dict = {}
    for row in mycursor:
        window_size, number_of_services, number_of_nodes, execution_time  = row
        if window_size not in result_dict:
            result_dict[window_size] = {number_of_services: [execution_time]}
        else:
            if number_of_services not in result_dict[window_size]:
                result_dict[window_size][number_of_services] = [execution_time]
            else:
                result_dict[window_size][number_of_services].append(execution_time)

    with open(f"{FOLDER}/window_time_performance_{TABLE}_n{n}.dat", "w") as file:
        for window_size, services in result_dict.items():
            for number_of_services, execution_times in services.items():
                starred = " ".join(map(str, execution_times))
                file.write(f"{number_of_services} {starred}\n")
                print(window_size, number_of_services, starred)

            file.write("\n\n")


    # Print the formatted output
    # with open(f"window_time_performance_{TABLE}_n{n}_w{w}.dat", "w") as file:
    #     for number_of_nodes, execution_times in result_dict.items():
    #         starred = " ".join(map(str, execution_times))
    #         file.write(f"{number_of_nodes} {starred}\n")
    #         print(number_of_nodes, starred)

ProgrammingError: 1054 (42S22): Unknown column 'execution_time' in 'field list'

# Window Quality Performance

In [3]:
mycursor = mydb.cursor()
#result_dict = {}
for n in range(3,MAX_NUMBER_OF_NODES+1):
    for w in range(1,n+1):
        query = f"""SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM {TABLE}
                WHERE number_of_nodes = {n} AND window_size = {w}
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services
            """
        mycursor.execute(query)
        print(query)
        result_dict = {}
        for row in mycursor:
            number_of_services = row[0]
            number_of_nodes = row[1]
            execution_time = row[2]
            # percentage = row[3]

            if number_of_services not in result_dict:
                result_dict[number_of_services] = execution_time
            else:
                result_dict[number_of_services].append(execution_time)
        print(result_dict)
        # Print the formatted output
        with open(f"{FOLDER}/window_quality_performance_{TABLE}_n{n}_w{w}.dat", "w") as file:
            for number_of_nodes, execution_times in result_dict.items():
                # starred = " ".join(map(str, execution_times))
                starred = execution_times
                file.write(f"{number_of_nodes} {starred}\n")
                print(number_of_nodes, starred)

SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 3 AND window_size = 1
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.98158, 3.0: 0.99205, 4.0: 0.99228, 5.0: 0.98492, 6.0: 0.98591, 7.0: 0.99408}
2.0 0.98158
3.0 0.99205
4.0 0.99228
5.0 0.98492
6.0 0.98591
7.0 0.99408
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 3 AND window_size = 2
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.99939, 3.0: 0.99394, 4.0: 0.99752, 5.0: 0.99805, 6.0: 0.99662, 7.0: 0.99984}
2.0 0.99939
3.0 0.99394
4.0 0.99752
5.0 0.99805
6.0 0.99662
7.0 0.99984
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 3 AND window_size = 3
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 1.0, 3.0: 1.0, 4.0: 1.0, 5.0: 1.0, 6.0: 1.0, 7.0: 1.0}
2.0 1.0
3.0 1.0
4.0 1.0
5.0 1.0
6.0 1.0
7.0 1.0
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 4 AND window_size = 1
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.99191, 3.0: 0.95794, 4.0: 0.97994, 5.0: 0.98054, 6.0: 0.97729, 7.0: 0.98729}
2.0 0.99191
3.0 0.95794
4.0 0.97994
5.0 0.98054
6.0 0.97729
7.0 0.98729
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 4 AND window_size = 2
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 1.0, 3.0: 0.9916, 4.0: 0.99064, 5.0: 0.99753, 6.0: 0.99695, 7.0: 0.99321}
2.0 1.0
3.0 0.9916
4.0 0.99064
5.0 0.99753
6.0 0.99695
7.0 0.99321
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 4 AND window_size = 3
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.99914, 3.0: 0.99762, 4.0: 0.99958, 5.0: 1.0, 6.0: 1.0, 7.0: 0.99997}
2.0 0.99914
3.0 0.99762
4.0 0.99958
5.0 1.0
6.0 1.0
7.0 0.99997
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 4 AND window_size = 4
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 1.0, 3.0: 1.0, 4.0: 1.0, 5.0: 1.0, 6.0: 1.0, 7.0: 1.0}
2.0 1.0
3.0 1.0
4.0 1.0
5.0 1.0
6.0 1.0
7.0 1.0
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 5 AND window_size = 1
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.98331, 3.0: 0.97348, 4.0: 0.98481, 5.0: 0.98437, 6.0: 0.97348, 7.0: 0.9838}
2.0 0.98331
3.0 0.97348
4.0 0.98481
5.0 0.98437
6.0 0.97348
7.0 0.9838
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 5 AND window_size = 2
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.99634, 3.0: 0.99046, 4.0: 0.98903, 5.0: 0.98711, 6.0: 0.9927, 7.0: 0.99428}
2.0 0.99634
3.0 0.99046
4.0 0.98903
5.0 0.98711
6.0 0.9927
7.0 0.99428
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 5 AND window_size = 3
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.99244, 3.0: 0.99451, 4.0: 0.99617, 5.0: 0.99776, 6.0: 0.99778, 7.0: 0.99253}
2.0 0.99244
3.0 0.99451
4.0 0.99617
5.0 0.99776
6.0 0.99778
7.0 0.99253
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 5 AND window_size = 4
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 1.0, 3.0: 0.9987, 4.0: 0.999, 5.0: 0.99749, 6.0: 0.99975, 7.0: 0.99912}
2.0 1.0
3.0 0.9987
4.0 0.999
5.0 0.99749
6.0 0.99975
7.0 0.99912
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 5 AND window_size = 5
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 1.0, 3.0: 1.0, 4.0: 1.0, 5.0: 1.0, 6.0: 1.0, 7.0: 1.0}
2.0 1.0
3.0 1.0
4.0 1.0
5.0 1.0
6.0 1.0
7.0 1.0
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 6 AND window_size = 1
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.97374, 3.0: 0.94727, 4.0: 0.97481, 5.0: 0.97, 6.0: 0.95912, 7.0: 0.97267}
2.0 0.97374
3.0 0.94727
4.0 0.97481
5.0 0.97
6.0 0.95912
7.0 0.97267
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 6 AND window_size = 2
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.98988, 3.0: 0.98148, 4.0: 0.97503, 5.0: 0.98136, 6.0: 0.98877, 7.0: 0.99338}
2.0 0.98988
3.0 0.98148
4.0 0.97503
5.0 0.98136
6.0 0.98877
7.0 0.99338
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 6 AND window_size = 3
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.99793, 3.0: 0.99376, 4.0: 0.9933, 5.0: 0.99312, 6.0: 0.99646, 7.0: 0.99988}
2.0 0.99793
3.0 0.99376
4.0 0.9933
5.0 0.99312
6.0 0.99646
7.0 0.99988
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 6 AND window_size = 4
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.99993, 3.0: 0.99878, 4.0: 0.9954, 5.0: 0.99868, 6.0: 0.99876, 7.0: 0.99786}
2.0 0.99993
3.0 0.99878
4.0 0.9954
5.0 0.99868
6.0 0.99876
7.0 0.99786
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 6 AND window_size = 5
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.99993, 3.0: 0.99696, 4.0: 0.99613, 5.0: 0.99868, 6.0: 0.99959, 7.0: 1.0}
2.0 0.99993
3.0 0.99696
4.0 0.99613
5.0 0.99868
6.0 0.99959
7.0 1.0
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 6 AND window_size = 6
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 1.0, 3.0: 1.0, 4.0: 1.0, 5.0: 1.0, 6.0: 1.0, 7.0: 1.0}
2.0 1.0
3.0 1.0
4.0 1.0
5.0 1.0
6.0 1.0
7.0 1.0
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 7 AND window_size = 1
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.92587, 3.0: 0.96732, 4.0: 0.95763, 5.0: 0.97413, 6.0: 0.98183}
2.0 0.92587
3.0 0.96732
4.0 0.95763
5.0 0.97413
6.0 0.98183
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 7 AND window_size = 2
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.96226, 3.0: 0.98988, 4.0: 0.98518, 5.0: 0.98569, 6.0: 0.98465}
2.0 0.96226
3.0 0.98988
4.0 0.98518
5.0 0.98569
6.0 0.98465
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 7 AND window_size = 3
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.98016, 3.0: 0.98569, 4.0: 0.99352, 5.0: 0.98933, 6.0: 0.99481}
2.0 0.98016
3.0 0.98569
4.0 0.99352
5.0 0.98933
6.0 0.99481
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 7 AND window_size = 4
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.98617, 3.0: 0.98947, 4.0: 0.99485, 5.0: 0.99598, 6.0: 0.99531}
2.0 0.98617
3.0 0.98947
4.0 0.99485
5.0 0.99598
6.0 0.99531
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 7 AND window_size = 5
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 0.99168, 3.0: 0.99657, 4.0: 0.99525, 5.0: 0.99829, 6.0: 0.99613}
2.0 0.99168
3.0 0.99657
4.0 0.99525
5.0 0.99829
6.0 0.99613
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 7 AND window_size = 6
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 1.0, 3.0: 0.99739, 4.0: 0.9969, 5.0: 0.99732, 6.0: 1.0}
2.0 1.0
3.0 0.99739
4.0 0.9969
5.0 0.99732
6.0 1.0
SELECT number_of_services, number_of_nodes, avg(metric_distance)
                FROM diff_qual_n7_s7_50_80
                WHERE number_of_nodes = 7 AND window_size = 7
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services

{2.0: 1.0, 3.0: 1.0, 4.0: 1.0, 5.0: 1.0, 6.0: 1.0}
2.0 1.0
3.0 1.0
4.0 1.0
5.0 1.0
6.0 1.0

In [4]:
mycursor = mydb.cursor()
#result_dict = {}
for n in range(2,6):
    for w in range(1,n):
        query = f"""SELECT number_of_services, number_of_nodes, avg(percentage)
                FROM pippo.mytable
                WHERE number_of_nodes = {n} AND window_size = {w}
                GROUP BY number_of_nodes, number_of_services,window_size
                ORDER BY number_of_services
            """
        mycursor.execute(query)

        result_dict = {}
        for row in mycursor:
            number_of_services = row[0]
            number_of_nodes = row[1]
            execution_time = row[2]

            if number_of_services not in result_dict:
                result_dict[number_of_services] = [execution_time]
            else:
                result_dict[number_of_services].append(execution_time)

        # Print the formatted output
        with open(f"{FOLDER}/window_percentage_performance_n{n}_w{w}.dat", "w") as file:
            for number_of_nodes, execution_times in result_dict.items():
                starred = " ".join(map(str, execution_times))
                file.write(f"{wino} {number_of_nodes} {starred}\n")
                print(number_of_nodes, starred)

OperationalError: MySQL Connection not available.

In [10]:
mydb.close()